# Rust build
/target/

# Yummy internal cache & build output
.ym/
out/
*.class

# IDE
.idea/
*.iml

# Test projects
gpg-test/

# Build artifacts (compiled by build.rs from source)
ym-agent/ym-agent.jar
ym-agent/out/


# Logs
*.log
